<!DOCTYPE html>
<!-- Everything before <html> tag is used to beautify the webpage. You can copy it to your website without changing it for the same effect. -->

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search</title>
    <style>
        .row{
        margin-top: 15px
        }
    </style>
</head>
<body>
<div class="container">
    <form>
        <center>
            <h3>Поиск по ответам</h3>
            <h4>(в первом поле ввод слова, во втором можно выбрать язык)
            </h4>
            <div class="row">
                <label><input type="text" name="search"></label>
            </div>
            <div class="row">
                <select class="custom-select my-1 mr-sm-2" name="lang">
                    <option selected></option>
                    {% for item in langs %}
                    <option value="{{ item }}">{{ item }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="row">
                <input class="btn btn-light btn-lg" type="submit" value="Отправить">
            </div>
        </center>
    </form>
</div>
</body>
</html>